/* UNIVERSAL SELECTOR */
* {
    background-color: #aad4e6;
    font-family: 'Goudy Bookletter 1911', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.15rem;
}

/* ELEMENT SELECTORS(multiple) */
h2 {
    color: #023047;
    text-align: center;
    text-decoration: #023047 underline;
}

h1 {
    color: #023047;
    text-align: center;
}

h1:hover {
    text-decoration: underline;
    cursor: crosshair;
}

hr {
    border: 5px solid #cdb4db;
}

/*ID SELECTORS (hooking CSS to a particular element) */
#navButton1 {
    background-color: #ffafcc;
}

/* CLASS SELECTORS */
.imp {
    color: #606c38;
    background-color: #fefae0;
}

/* DESCENDENT SELECTORS(target an element that is nested inside other element, target the anchor tags present inside li elements only) */
/* Donot give commas */
li a {
    text-decoration: none;
    background-color: #e9c46a;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 2;
}

/* ADJACENT SELECTORS OR COMBINATORS(selects an element y, that are immediately preceeded by x) */
h3+button {
    background-color: #e63946;
    color: #f1faee;
}

/* DIRECT DESCENDENDENT SELECTORS(target elements inside other elements - immediate) */
.sel>a {
    color: #57cc99;
    background-color: #22577a;
}

/* ATTRIBUTE SELECTORS (select a particular element of a specific type) */
input[type="password"] {
    color: #226a4b;
}

/* select the section of class - "credentials" */
section.credentials {
    background-color: #80ed99;
}

/* target href(of anchor tag)containing "google" */
a[href*="google"] {
    color: #22577a;
    background-color: #b770e1;
}

/* PSEUDO CLASSES (keyword added to a selector, that specifies a special state of selected elements)*/
a:hover {
    background-color: #57cc99;
}

.pseudo button:hover {
    text-decoration: line-through;
    background-color: #b770e1;
}

.pseudo button:active {
    background-color: #226a4b;
    text-decoration: none;
}

/* targets every even element */
.pseudo :nth-of-type(2n) {
    background-color: #e9c46a;
    line-height: 1.5;
}

/* targets every odd element */
.pseudo section:nth-of-type(2n-1) {
    background-color: #574519;
    line-height: 1.5;
}

/* PSEUDO ELEMENTS */
/* Make the first letter bigger */
.pseudoEle>p::first-letter {
    /* make this style important, gives the topmost specificity */
    font-size: x-large !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* target the first line */
.pseudoEle>p::first-line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #226a4b;

}

/* target the highlight color */
.pseudoEle p::selection {
    background-color: #7e37a8;
    text-decoration: underline;
}

/* CSS INHERITANCE */
/* the child elements inherit styles from parents if they donot have a predefined stylings */
#inheri {
    color: #57cc99;
}

#inheri>h3 {
    color: black !important;

}

#inheri>button {
    background-color: #574519;
    /* inherit the property of the parent */
    color: inherit;
}


/* BOX MODEL */
section {
    width: 100%;
}

#btnBox {
    height: 50px;
    background-color: #87a429;
    color: white;

    /* BORDER PROPERTIES */
    border-width: 8px;
    border-color: #e63946;
    border-style: groove;
    border-radius: 10px;

    /* one line stylings for border */
    /* width | style | color */
    border: 3px solid rgb(155, 63, 63);
}

#btnBox:hover {
    background-color: #e63946;

    border-color: #21a169;
}

/* simple dog profile */
#cardDog {
    width: 220px;
    background-color: #f1faee;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}

#cardDog h1 {
    background-color: inherit;
}

img {
    width: 190px;
    border: 5px solid rgb(212, 62, 87);
    border-radius: 50%;
}

/* PADDING: The distance between content and border */
#paddingDemo h3 {
    background-color: #57cc99;
    padding: 10px;
}

#paddingDemo button {
    width: 400px;
    background-color: #e63946;
    color: #e8ddc0;
    /* Different types of padding application */
    /* Vertical | Horizontal */
    /* top | horizontal | bottom */
    /* top | right | bottom | left */
    /* all sides */
    padding: 40px;
}

#paddingDemo button:hover {
    background-color: #574519;
}

/* MARGIN : distance between elements */
#marginDemo button {
    width: 400px;
    height: 100px;
    background-color: #e63946;
    color: #e8ddc0;

    /* Different types of margin application */
    /* Vertical | Horizontal */
    /* top | horizontal | bottom */
    /* top | right | bottom | left */
    /* all sides */
    margin: 15px;
    margin-left: 0;
}

#marginDemo button:hover {
    background-color: #b56510;
}

#marginDemo button:active {
    background-color: #58e417;
}

/* DISPLAY: property */
#displayDemo button {
    width: 400px;
    height: 100px;
    background-color: #e63946;
    color: #e8ddc0;
    margin: 15px;
    margin-left: 0;
    /* make it inline */
    display: inline;
}

#displayDemo h3 {
    background-color: #21a169;
    padding: 10px;
}

#displayDemo span {

    background-color: #87a429;
    /* make it block */
    display: block;
}

/* display: inline-block: the element is an inline ele, but all box=model properties are applicable */
#inlineBlocks div {
    background-color: #90ae2e;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    display: inline-block;
}

#inlineBlocks div:nth-of-type(3):active {
    /* hide the element */
    display: none;
}

/* CSS UNITS */
/* Relative units */

/* 1. % */
#cssUnits1 div {
    background-color: #7e37a8;
    width: 800px;
    height: 400px;
}

#cssUnits1 div>div {
    background-color: #16546e;
    /* Dependent on parent */
    width: 50%;
    height: 50%;
    /* independent of parent, 50% of original line height */
    line-height: 200%;
    color: #aad4e6;
}

/* 2. em */
/* to make responsive websites, u want some elements to grow in size when other elements are scaling too */
#cssUnits1 #Div2>div {
    font-size: 1em;
}

/* drawbacks: They grow and shrink very fast(inside nested lists) */
/* 3. rem */
#div3 {
    background-color: #7e37a8;
    width: 800px;
    height: 400px;
}

#div3>div {
    background-color: #16546e;
    width: 50%;
    height: 50%;
    color: #aad4e6;
    line-height: 200%;
    /* depends on font size of html element */
    font-size: 1rem;
}