body {
    margin: 0;
}

h1, h2 {
    text-align: center;
}

hr {
    border: 2px solid pink;
}

section {
    width: 100%;
    height: 500px;
    background-color: bisque;
}

#rgbaDiv {
    text-align: center;
    width: 50%;
    height: 50%;
    /* rgba --> red, green, blue, ALPHA(0,1 -> defines transparency, applies only to the mentioned element) */
    background-color: rgba(255, 150, 150, 0.3);
}

#opacityDiv {
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: aquamarine;
    /* OPACITY -> applies for all descendents(0,1) */
    opacity: 0.6;
}

/* playing with POSITIONS */
#posnSecStatic, #posnSecRel, #posnSecFix, #posnSecStick {
    /* remove all properties */
    all: unset;
}

#posnSecAbs {
    all: unset;
    position: relative;

}

#posnDiv {
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    margin: 10px;
}

#posnDivCenter {
    width: 100px;
    height: 100px;
    background-color: rgb(177, 58, 58);
    display: inline-block;
    margin: 10px;

}

/* STATIC: positioned according to normal flow */
#posnSecStatic #posnDivCenter {
    position: static;

}

/* RELATIVE: positioned according to normal flow and relative to itself */
#posnSecRel #posnDivCenter {
    position: relative;
    top: 50px;
    left: 50px;
}

/* ABSOLUTE: removed from normal flow of document and no space is created for the element, 
            ... positioned relative to the closest ancestor */
#posnSecAbs #posnDivCenter {
    position: absolute;
    top: -50px;
}

/* FIXED: removed from the normal flow of document, and no space created, 
          ... positioned relative to the initial containing block*/
#posnSecFix #posnDivCenter {
    /* ! position: fixed; */
    top: 150px;
}

/* STICKY: positioned relative to normal flow of document and relative to its nearest scrolling ancestor */
#posnSecStick #posnDivCenter {
    position: sticky;
    bottom: 20px;
}

/* TRANSITIONS */
.circle {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    /* delaying properites application */
    /* change time | time function| wait time */
    transition: 3s ease-in 1s;


}

.circle:hover {
    border-radius: 50%;

    background-color: rgb(194, 25, 25);
}

#trDemoSec {
    width: 100%;
    height: 460px;
}

#trDemoSec div {
    width: 100px;
    height: 100px;
    background-color: rgb(32, 140, 104);
    margin: 20px 0;
    /* target the margin property */
    transition: margin-left ease-in 5s;
}

#trDemoSec:hover div {
    margin-left: 595px;
}

/* TRANSFORMATION */


.TransformationSec div {
    border: 1px solid black;
    margin: 20px auto;
}

.TransformationSec div h3 {
    text-align: center;
    background-color: aquamarine;
    border: 2px solid black;
    width: 20%;
    /* centering a element in a container(auto to horizontal) */
    margin: 20px auto;
}

.TransformationSec>div:nth-of-type(1) h3:nth-of-type(1) {
    background-color: cadetblue;

    /* change the transformation origin */
    transform-origin: bottom right;
    transform: rotate(90deg);
}

.TransformationSec>div:nth-of-type(1) h3:nth-of-type(2) {
    background-color: rgb(159, 202, 50);

    transform: scale(0.7);
}

.TransformationSec>div:nth-of-type(1) h3:nth-of-type(3) {
    background-color: rgb(26, 142, 155);

    transform: translateX(200px);
}

.TransformationSec>div:nth-of-type(1) h3:nth-of-type(4) {
    background-color: rgb(155, 108, 26);

    transform: translateY(2rem);
}

.TransformationSec>div:nth-of-type(2) h3:nth-of-type(1) {
    background-color: rgb(155, 26, 134);

    transform: skew(45deg, -3deg);
}

.TransformationSec>div:nth-of-type(2) h3:nth-of-type(2) {
    background-color: rgb(58, 26, 155);

    /* Apply two tranform properties at one go */
    transform: rotate(30deg) scale(0.5);
}

.TransformationSec>div:nth-of-type(2) h3:nth-of-type(3) {
    background-color: rgb(26, 155, 136);

    transform: translate(30px, 20px) scale(0.9);
}

.TransformationSec>div:nth-of-type(2) h3:nth-of-type(4) {
    background-color: rgb(206, 197, 28);

    transform: translate(-60px, 20px) scale(0.9) rotate(180deg);
}


/* FANCY BUTTON */

.FancyBtnSec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 5, 5);
}

.FancyBtnSec button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.35s;
    letter-spacing: 0.15em;
}

.FancyBtnSec button:hover {
    border-color: #f1ff5c;
    color: white;
    cursor: pointer;
    /* box shadow */
    box-shadow: 0 0.7em 0.6em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
}

/* BACKGROUND */

.BackGroundSec {
    height: 44em;
}

.BackGroundSec div {
    text-align: center;
    width: 100%;
    height: 100%;

    background-color: aquamarine;
    /* add the BG image */
    background-image: url("https://images.unsplash.com/photo-1648461399064-b2d24952aeda?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


/* GOOGLE FONTS - FREE */
.googleFontsSec {
    height: 900px;
}

.googleFontsSec div:nth-of-type(1) p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.googleFontsSec div:nth-of-type(2) p {
    text-align: center;
    font-family: 'Karla', sans-serif;
}

.googleFontsSec div:nth-of-type(3) p {
    text-align: center;
    font-family: 'Cinzel', serif;
}